@{
    ViewBag.Title = "mkardz | revolutionizing greeting cards | digital to analog";
}

<h2>@ViewBag.Message</h2>
<p>
    mKardz
</p>
<p>Coming Soon</p>
<p>
    Videos <a href="http://www.mkardz.com/videos/index.html" title="mKardz videos">http://www.mkardz.com/videos/index.html</a>.
</p>